// DoughnutChart Component Styles

.wrapper {
  position: relative;
  @include m.flex-center;
}

.chartContainer {
  width: 100%;
  height: 100%;
}

.centerLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include m.flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
}

.value {
  font-size: v.$font-size-2xl;
  font-weight: v.$font-weight-bold;
  color: v.$text-primary;
  line-height: 1.2;
}

.label {
  font-size: v.$font-size-xs;
  color: v.$text-secondary;
  margin-top: v.$spacing-xs;
}
